.states {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.1rem;
}

.empty-state {
    padding: 24px;
    text-align: center;
    color: #888;
    font-size: 0.9rem
}